<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo non consequuntur eius asperiores. Alias nam voluptates atque deleniti non possimus labore culpa, eaque, excepturi doloribus illo, facere impedit voluptatem deserunt suscipit laborum consequuntur sapiente?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo non consequuntur eius asperiores. Alias nam voluptates atque deleniti non possimus labore culpa, eaque, excepturi doloribus illo, facere impedit voluptatem deserunt suscipit laborum consequuntur sapiente?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo non consequuntur eius asperiores. Alias nam voluptates atque deleniti non possimus labore culpa, eaque, excepturi doloribus illo, facere impedit voluptatem deserunt suscipit laborum consequuntur sapiente?</p>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
</html>